body {
  background-color: #dbdbdb;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/6/68/Vincent_van_Gogh_-_Almond_blossom_-_Google_Art_Project.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 1500px auto;
  margin: 0px;
  display: flex;
  justify-content: center;
}
#background {
  background-color: #ffe5b9;
  margin-top: 50px;
  margin-bottom: 0px;
  margin-right: 50px;
  margin-left: 50px;
}
header {
  background-color: white;
  margin-bottom: 20px;
  text-align: center;
}
h1 {
  background-color: #eff8ff;
  color: #2f5764;
  margin: 0px;
  padding: 10px;
  font-family: Oswald, sans-serif;
  font-size: 50px;
}
#description {
  background-color: #eff8ff;
  color: #2f5764;
  margin: 0px;
  padding-bottom: 20px;
  font-size: 20px;
  font-family: Merriweather, sans-serif;
}
#main {
  font-family: Arial;
  margin: 0px;
  display: grid;
}
img {
  height: auto;
  max-width: 100%;
  display: block;
}
#img-div {
  margin: auto;
  width: 700px;
}
#img-caption {
  padding: 5px;
  background-color: white;
  text-align: center;
}
#tribute-info {
  margin: auto;
  text-align: justify;
  padding: 20px 40px 20px 10px;
  width: 900px;
  color: #20404b;
  font-size: 20px;
}
footer {
  background-color: #eff8ff;
  color: #2f5764;
  text-align: center;
  margin: 0px;
  display: grid;
}
a {
  color: #afa6ff;
  text-decoration: none;
}
a:hover {
  color: #dbe9ff;
}
#visit {
  font-size: 20px;
  color: white;
  margin-left: 70px;
  margin-right: 70px;
  background-color: #2e6c81;
  text-align: center;
  padding: 5px;
  border-radius: 10px;
}
