main,
header,
section,
footer {
  margin: 0;
  padding: 20px;
  border: 1px solid #000000;
  color: #ffffff;
}
body {
  background: black;
  font-family: sans-serif;
}

main {
  background: #000000;
  max-width: 75rem;
  margin: auto;
  text-align: center;
}

header {
  background: #af2d2d;
}

.tribute {
  background: #214252;
}

.survey-form {
  background: #214252;
}

.product-page {
  background: #214252;
}

footer {
  border: 1px solid #000000;
  background: #af2d2d;
}

a {
  color: #f05454;
  text-decoration: none;
}

a:hover {
  color: #f37a7a;
}
